//-===== svg icon =====
mixin svg(svg)
  svg
    use(xlink:href="assets/img/sprite.svg#" + svg + "")

mixin link_to(path, icon, text)
    a.link-to(href=path)
        +svg(icon)
        span.gallery__text= text

mixin swiper-item(path)
    .swiper-slide
        img.gallery__slider-img(src=path alt="picture")

