*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #141414;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  strong {
    font-weight: 600;
  }
}

a {
  text-decoration: none;
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}


.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  //свойство для исправления бага 100vh для мобильных
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
}

.btn {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px 25px;
  cursor: pointer;
  user-select: none;
  transition: all .5;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #141414;
  border: 2px solid transparent;
  border-radius: 5px !important;

  span {
    position: relative;
    display: block;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    content: '';
    transition: all .5s;
    pointer-events: none;
    border-radius: 5px;
    background: linear-gradient(267.23deg, #fad993 -37.14%, #fad48b -7.03%, #fac977 18.56%, #fac26b 44.91%, #fabf67 75.02%, #ecac56 107.39%);
    box-shadow: 10px 10px 30px rgba(229, 161, 69, .2);
  }

  &:hover {
    color: #e6a145;
    border: 2px solid #e6a145;
    background: transparent;

    &::before {
      opacity: 0;
      box-shadow: 10px 10px 30px rgba(229, 161, 69, 0);
    }
  }
}


.container {
	padding: 20px;
	margin: 0 auto;
	max-width: 1920px;
}
