// ===== main colors =====
$bg-atmosfera: #4A7755;
$bg-arlan: linear-gradient(267.23deg, 
#FAD993 -37.14%, 
#FAD48B -7.03%, 
#FAC977 18.56%, 
#FAC26B 44.91%, 
#FABF67 75.02%, 
#ECAC56 107.39%), #4A7755;

$color-atromsfera: #FFFFFF;
$color-arlan: #141414;

