extends ../_template

block content
  .main-wrap

    //begin content
    section.gallery
        .container
            +link_to("index.html", "house", "Вернуться на главную")
            .gallery__slider.swiper
                .swiper-wrapper
                    +swiper-item("assets/img/bg-gallery.jpg")
                    +swiper-item("assets/img/bg-gallery.jpg")
                    +swiper-item("assets/img/bg-gallery.jpg")
                .swiper-button-prev.gallery__slider-btn.gallery__slider-btn--prev.atmosfera
                    +svg('arrow')
                .swiper-button-next.gallery__slider-btn.gallery__slider-btn--next.atmosfera
                    +svg('arrow')
    //end content

    include ../sections/scripts
