extends ../_template

block variables
  - var title       = ''
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

block content
  .main-wrap

    //begin content
    main.main
      .index.container
        .index-item.index-item--atmosfera
          .index-item__logo
            img(src="assets/img/logo-atmosfera.svg" alt="picture")
          .index-item__links
            a(href="gallery-atmosfera.html").index-item__link Галерея
            a(href="planing-atmosfera.html").index-item__link Планировки
            a(href="main-planning.html").index-item__link Ген. план
        .index-item.index-item--arlan
          .index-item__logo
            img(src="assets/img/logo-arlan.svg" alt="picture")
          .index-item__links
            a(href="gallery-arlan.html").index-item__link Галерея
            a(href="planing-arlan.html").index-item__link Планировки
            a(href="main-planning.html").index-item__link Ген. план
    //end content

    include ../sections/scripts
