extends ../_template

block content
  .main-wrap

    //begin content
    section.planning
        .container
            header.planning__header
                +link_to("index.html", "house", "Вернуться на главную")
                ul.planning__filter
                    li.planning__filter-item
                        a.planning__filter-link()
                

    //end content

    include ../sections/scripts
