extends ../_template

block content
  .main-wrap

    //begin content
    section.planning
        .container
            header.planning__header
                +link_to("index.html", "house", "Вернуться на главную")

    //end content

    include ../sections/scripts
