.gallery {
	position: relative;
	min-height: 100vh;
	width: 100%;

	.container {
		position: relative;
		padding: 0;
	}

	&__slider {
		height: 100vh;
	}

	&__link {
		position: absolute;
		display: flex;
		align-items: center;
		z-index: 2;
		left: 60px;
		top: 60px;
		padding: 33px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 7px 7px 30px rgba(74, 119, 85, 0.1);

		svg {
			height: 33px;
			width: 33px;
			margin-right: 26px;
		}
	}

	&__text  {
		font-size: 30px;
		font-weight: 600;
		line-height: 41px;
		letter-spacing: 0.04em;
		color: #141414;
	}

	&__slider-btn {
		position: absolute;
		top: 50%;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		cursor: pointer;

		svg {
			width: 16px;
			height: 16px;
			fill: #fff;
		}

		&.atmosfera {
			background-color: $bg-atmosfera;
		}

		&.arlan {
			background-color: $bg-arlan;
		}

		&--prev,
		&--next {
			&::after {
				display: none;
			}
		}

		&--prev {
			left: 60px;

			svg {
				transform: rotate(180deg);
			}
		}

		&--next {
			right: 60px;
		}
	}

	&__slider-img {
		height: 100%;
	}
}
